.project-container {
    display: flex;
    flex-wrap: wrap;
}


figure {
    height: 10em;
    width: 10em;
    border: solid blue;
    padding: 10px;
    object-fit: contain;
}

img {
    max-height: 100%;

}